@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');
@import './mobile-queries.css';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: 'Pacifico';
  line-height: 0.5;
  font-size: 50px;
}

h2,
h3,
h4,
h5 {
  font-family: 'Open Sans';
  line-height: 0.5;
}

p {
  font-family: 'Open Sans';
}

textarea {
  resize: none;
  font-family: 'Open Sans';
}

label {
  font-family: 'Open Sans';
}

input[type='text'] {
  font-family: 'Open Sans';
}

.mt5 {
  margin-top: 25px;
}

.btn {
  background-color: none;
  border: none;
  height: 60px;
  width: 150px;
  border-radius: 35px;
  font-size: 20px;
}

.btn-main {
  background: rgba(34, 96, 255, 0.55);
}

.btn-main:hover {
  background: rgba(34, 96, 255, 0.75);
}
